/* Write the CSS for you answer here */
#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
}

#container:hover>.bauble{
    animation-duration: 2s;
    animation-name: drop;
}

@keyframes drop {
    from{

    }
    100% {
        top: 400px;
    }

}
#landscapepicture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
}

#pohutukawapicture {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: 3;
    pointer-events: none;
}

#bluebauble {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 4;
}

#darkbluebauble {
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 4;
}

#greenbauble {
    position: absolute;
    top: 200px;
    left: 400px;
    z-index: 4;
}

#orangebauble {
    position: absolute;
    top: 200px;
    left: 330px;
    z-index: 4;
}

#pinkbauble {
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 2;
}

#redbauble {
    position: absolute;
    top: 200px;
    left: 130px;
    z-index: 4;
}